<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.john.buscaminas"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.V7.Theme.AppCompat"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayActivity"
            android:parentActivityName=".DifficultySelectionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".DifficultySelectionActivity"
            android:parentActivityName=".UserSelectionActivity"/>
        <activity android:name=".UserSelectionActivity"/>
        <activity android:name=".CreateUserActivity"
            android:parentActivityName=".UserSelectionActivity"/>
    </application>

</manifest>